server:
    host: localhost
    port: 5911
database:
    type: postgresql
    host: localhost
    user: udplog
    pass: udplog
    name: udplog
web:
    port: 8888
    default_table: 'web'
    force_default_table: false
    include_request_info: false
    token:
        enforce: false
        data: 'user'
        salt: 'your-token-salt'
